<div class="query">
  <form action="" method="post">
    <input type="text" name="formula" value="<?php echo $this->formula; ?>">
    <input type="submit" name=".submit" value="Roll">
  </form>
</div>

<?php if(isset($this->result)) { ?>
<div class="result">
  <pre>
    <ul>
      <?php 
         foreach($this->result as $result) {
      ?>
      <li><?php echo $result; ?></li>
      <?php } ?>
    </ul>
  </pre>
</div>
<?php } ?>